
<div class="side-image">
  <div class="images-wrapper" style="background: url('<%= movie["posters"]["original"].gsub("tmb", "ori") %>') no-repeat; background-size: 100%;">
  </div>
    <div class="content">
    <h1><%= movie["title"] %></h1>
    <p>
      <%= movie["synopsis"] %>
    </p>
  </div>
</div>
